
.appointmentBody{

    margin: 4% 8% 0 10%;

}
.searchappointment{
    margin: 2.5% 10px ;

  }
  
.appointment-container {
    border-radius: 10px;
    background-color: rgb(202, 209, 209);
    padding: 10px;
    width: 600px;
    height: 610px;
    margin: 8% 8% 0 10%;
}
.add-appointment{
    margin: 2%;
    height: 500px; 
}

#patient_name{
    position: relative;
    left: 37px;
}

#diagnosis{
    position: relative;
    left: 55px;
}

#dentist_name{
    position: relative;
    left: 38px;
}

#phone{
    position: relative;
    left: 73px;
}

#appointment_date{
    position: relative;
    left: 21px;
}

#appointment_time{
    position: relative;
    left: 21px;
}

#SubBtn{
    background-color: rgb(108, 8, 230);
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 100;
}
