/*.addPayment{
    padding: 2%;
    margin-top: 2%;
}*/
.appointmentBody{

    margin: 4% 8% 0 10%;

}
.searchappointment{
    margin: 2.5% 10px ;

  }
  
.appointment-container {
    border-radius: 10px;
    background-color: rgb(202, 209, 209);
    padding: 10px;
    width: 600px;
    height: 610px;
    margin: 8% 8% 0 10%;
}
.add-appointment{
    margin: 2%;
    height: 500px; 
}

#paymentId{
    position: relative;
    left: 40px;
}

#patientName{
    position: relative;
    left: 28px;
}

#paymentType{
    position: relative;
    
   left: 25px;
}
#diagnosis{
    position: relative;
    left: 30px;
}
#hospitalCharge{
    position: relative;
    left: 15px;
}
#doctorFee{
    position: relative;
    left: 38px;
}
#entryDate{
    position: relative;
    left: 38px;
}
#Amount{
    position: relative;
    left: 46px;
}
#Subbtn{
    background-color: rgb(108, 8, 230);
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 100;
}
#Pdfbtn{
    background-color: rgb(230, 8, 130);
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 100;
}
#Debtn{
    background-color: rgb(230, 8, 78);
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 100;
}